/transient/
/elpa/
/eln-cache/
/backups/
/.DS_Store
/.cache/
/.lsp-session-v1
/.mc-lists.el
/auto-save-list/
/bookmarks
/eaf/
/games/
/workspace/
/site-lisp/
/places
/.local/
/projectile-bookmarks.eld
/projectile.cache
/tramp
/history
/eclipse.jdt.ls/
/var/
/straight/*.el
/straight/build/
/straight/repos/
